<h5>{{resourceName}}</h5>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Support Rules</th>
            <th>Line Number</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>not(border-radius:1px)</td>
            <td>26</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>display:flex</td>
            <td>42</td>
            <td><input type="checkbox"></td>
        </tr>
    </tbody>
</table>