<div class="container">
    <div class="row">
        <div class="three columns">
            <div class="nav">
                <div class="header">
                    Resources
                </div>
                <div class="content">
                    <div class="content-items">index.css</div>
                    <div class="content-items">another.css</div>
                    <div class="content-items">contact.css</div>
                    <div class="content-items">about.css</div>
                </div>
            </div>
        </div>
        <div class="nine columns">
            <app-analysis></app-analysis>
        </div>
    </div>
</div>